@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.token-line:not(:last-child) {
  min-height: 1rem;
}

@layer components {
  .preview {
    @apply flex max-h-[560px] overflow-scroll scrollbar-hide items-center justify-center rounded-lg shadow-inner; 
  }

  .dots {
    @apply flex max-h-[560px] overflow-scroll scrollbar-hide items-center justify-center rounded-lg shadow-inner bg-gray-50 border border-sky-50 p-4 md:p-10;
    background-image: radial-gradient(#38bdf8 0.5px, #f9fafb 0.5px); 
    background-size: 10px 10px;
  }
  
  .dark-dots {
    @apply flex max-h-[560px] overflow-scroll scrollbar-hide items-center justify-center rounded-lg shadow-inner bg-slate-900 border border-slate-900 p-4 md:p-10;
    background-image: radial-gradient(#334155 0.5px, #0f172a 0.5px) !important;
    background-size: 10px 10px;
  }
}